In [1]:
import pandas as pd
import requests

In [2]:
url = "https://data.cdc.gov/api/views/bi63-dtpu/rows.json?accessType=DOWNLOAD"
response = requests.get(url)

data = response.json()
df = pd.DataFrame(data["data"])

In [6]:
df.info

<bound method DataFrame.info of                       sid                                    id  position  \
0      row-4ziw_fype-q93g  00000000-0000-0000-84F0-BE0C2CBEC77B         0
1      row-mf82_5qce.78c2  00000000-0000-0000-F702-31C8D4A1E5BE         0
2      row-7frh~9yb6-q2q4  00000000-0000-0000-6FE5-1E0821A4276B         0
3      row-urf6.ayyb~8p5q  00000000-0000-0000-26D0-367B1AF824D1         0
4      row-74k2-qi6f~77p7  00000000-0000-0000-C87C-FAD80FEC2E12         0
...                   ...                                   ...       ...
10863  row-7enu.6eha-mdy5  00000000-0000-0000-B22B-1A611B3B2607         0
10864  row-rw3z.z8dd.dcym  00000000-0000-0000-B7DF-BAF4B88F0B46         0
10865  row-nfft~g53m-yyzs  00000000-0000-0000-6F71-5AA903783757         0
10866  row-efex~8dph_yfqq  00000000-0000-0000-C1E4-A0960793377C         0
10867  row-i44c_qgkr~mw6s  00000000-0000-0000-BDB1-F52E068CBDAF         0

       created_at created_meta  updated_at updated_meta meta  Year  \
0      1571926784         None  1571926784         None  { }  2017
1      1571926784         None  1571926784         None  { }  2017
2      1571926784         None  1571926784         None  { }  2017
3      1571926784         None  1571926784         None  { }  2017
4      1571926784         None  1571926784         None  { }  2017
...           ...          ...         ...          ...  ...   ...
10863  1571926784         None  1571926784         None  { }  1999
10864  1571926784         None  1571926784         None  { }  1999
10865  1571926784         None  1571926784         None  { }  1999
10866  1571926784         None  1571926784         None  { }  1999
10867  1571926784         None  1571926784         None  { }  1999

                                          113 Cause Name  \
0      Accidents (unintentional injuries) (V01-X59,Y8...
1      Accidents (unintentional injuries) (V01-X59,Y8...
2      Accidents (unintentional injuries) (V01-X59,Y8...
3      Accidents (unintentional injuries) (V01-X59,Y8...
4      Accidents (unintentional injuries) (V01-X59,Y8...
...                                                  ...
10863  Nephritis, nephrotic syndrome and nephrosis (N...
10864  Nephritis, nephrotic syndrome and nephrosis (N...
10865  Nephritis, nephrotic syndrome and nephrosis (N...
10866  Nephritis, nephrotic syndrome and nephrosis (N...
10867  Nephritis, nephrotic syndrome and nephrosis (N...

                   Cause Name          State  Deaths Age-adjusted Death Rate
0      Unintentional injuries  United States  169936                    49.4
1      Unintentional injuries        Alabama    2703                    53.8
2      Unintentional injuries         Alaska     436                    63.7
3      Unintentional injuries        Arizona    4184                    56.2
4      Unintentional injuries       Arkansas    1625                    51.8
...                       ...            ...     ...                     ...
10863          Kidney disease       Virginia    1035                    16.9
10864          Kidney disease     Washington     278                     5.2
10865          Kidney disease  West Virginia     345                    16.4
10866          Kidney disease      Wisconsin     677                    11.9
10867          Kidney disease        Wyoming      30                     6.8

[10868 rows x 14 columns]>

In [7]:
df.describe()

       position    created_at    updated_at
count   10868.0  1.086800e+04  1.086800e+04
mean        0.0  1.571927e+09  1.571927e+09
std         0.0  0.000000e+00  0.000000e+00
min         0.0  1.571927e+09  1.571927e+09
25%         0.0  1.571927e+09  1.571927e+09
50%         0.0  1.571927e+09  1.571927e+09
75%         0.0  1.571927e+09  1.571927e+09
max         0.0  1.571927e+09  1.571927e+09

In [3]:
column_names = [column["name"] for column in data["meta"]["view"]["columns"]]
df.columns = column_names

In [4]:
df.to_csv("data.csv", index=False)

In [5]:
import pandas as pd
import requests

# Fetch the JSON data from the CDC URL
url = "https://data.cdc.gov/api/views/bi63-dtpu/rows.json?accessType=DOWNLOAD"
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data['data'])
else:
    print("Failed to fetch JSON data from the URL.")

# Specify the column names (found in the 'meta' section of the JSON data)
column_names = [column['name'] for column in data['meta']['view']['columns']]
df.columns = column_names

# Save DataFrame to a CSV file
df.to_csv('cdc_data.csv', index=False)